SELECT DISTINCT
  LANDING_TABLE_NAME AS Source_File_Name
, DATA_ISSUE_COLUMN_NAME AS Field_Name
, DATA_ISSUE_COLUMN_VALUE AS Field_Value
, CASE WHEN ERROR_IND = 'Y' THEN 'FAIL' ELSE 'WARNING' END AS Error_Type
, VALIDATION_CODE as Error_Code
, VALIDATION_DESC Failure_Reason
, SSN as SSN
, CASE_CID as Legacy_Case_ID
, MEM_PID as Legacy_Person_ID
--  SELECT *
FROM [CONV_ADMIN].[DCM_PRELANDING_TABLE_PROFILING] 